/***** Reset *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #f3e8e8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    background-image: url('../img/fondo.jpg'); 
    background-size: cover;         
    background-repeat: no-repeat;   
    background-attachment: fixed; /* Para que no se mueva al hacer scroll */
    background-position: center;    


}

/**** Header *****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/fondo2.jpg');
    color: white;
    padding: 10px 40px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/***** Contenido principal *****/
.contenido {
    text-align: center; 
    margin-top: 100px;
    color: #700202;
}

.contenido h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contenido p {
    font-size: 1.2rem;
    color: #f5efef;
}

/**** Footer *****/
footer {
    margin-top: auto; 
    text-align: center;
    padding: 15px;
    background-image: url('../img/fondo2.jpg');
    color: white;
    font-size: 0.9rem;
}
